# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*
venv/
.venv/
.research/
.ruff_cache


# misc
.coverage
.vscode
coverage.xml


# Home Assistant configuration
config/*
!config/configuration.yaml
